{% extends 'base.html' %}

{% block page_css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}name/css/home.css">
{% endblock %}

{% block page_content %}
<div class="container">
	<div class="panel panel-primary">
	    <div class="panel-heading market--name">
	        {{ name }}
	    </div>
	    <div class="panel-body">
	        <div class="row">
	            <div class="col-lg-12">
					{% if highest_bid %}
					<p>Current Highest Bidder: {{ highest_bid.owner.username }}, ${{ highest_bid.value}}</p>
					{% else %}
					<p>Starting Bid: {{ starting }}</p>
					{% endif %}
	                <form role="form" class="col-md-9">
						<div class="form-group">
						<span class="dollar">$</span>
						<input id="name" name="name" type="number" class="form-control" required placeholder="1">
						</div>
					</form>
					<div class="col-lg-2">
	                	<button type="button" class="btn btn-primary btn-cons">BID</button>
	                </div>
	            </div>
	        </div>
	        <div class="alert alert-info">
                <strong>LIST OF OUR PREVIOUS BIDDER</strong>
                <ul>
                {% for bid in past_bids %}
					<li>{{bid.owner.username}}, ${{bid.value}}</li>
                {% empty %}
					<em>None</em>
                {% endfor %}
                </ul> 
            </div>
	    </div>
	</div>
</div>
{% endblock %}