{% extends 'base.html' %}

{% block page_css %}
		<link rel="stylesheet" href="{{ STATIC_URL }}name/css/home.css">
{% endblock %}

{% block page_content %}
<div class="container">
	<div class="panel panel-primary">
	    <div class="panel-heading">
	        TEAM # 2:
	    </div>
	    <div class="panel-body">
	        <div class="row">
	        	<ul class="timeline">
	        		{% for event in events %}
					<li>
						<div class="timeline-badge info"><i class="fa fa-smile-o"></i></div>
						<div class="timeline-panel">
							<a href="{% url 'bidding' event.pk%}">
								<div class="timeline-heading">
									<h4 class="timeline-title">{{ event.name.name }}</h4>
								</div>
								<div class="timeline-body">
									<p>Bidding Value: ${{ event.highest_bid|floatformat:-2 }}</p>
								</div>
							</a>
							<button type="button" class="btn btn-primary btn-cons" data-toggle="modal" data-target="#myModal">SELL MY NAME</button>
						</div>
					</li>
					{% endfor %}
					
					{% comment %}
					<li>
						<div class="timeline-badge primary"><i class="fa fa-star-o"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Random Names</h4>
							</div>
							<div class="timeline-body">
								<p>Starting Price: $50</p>
							</div>
						</div>
					</li>
					
					<li>
						<div class="timeline-badge warning"><i class="fa fa-sun-o"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Random Names</h4>
							</div>
							<div class="timeline-body">
								<p>Starting Price: $50</p>
							</div>
						</div>
					</li>
					
					<li>
						<div class="timeline-badge danger"><i class="fa fa-times-circle-o"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Random Names</h4>
							</div>
							<div class="timeline-body">
								<p>Starting Price: $50</p>
							</div>
						</div>
					</li>
					
					<li>
						<div class="timeline-badge success"><i class="fa fa-check-circle-o"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Random Names</h4>
							</div>
							<div class="timeline-body">
								<p>Starting Price: $50</p>
							</div>
						</div>
					</li>
					
					<li>
						<div class="timeline-badge default"><i class="fa fa-heart"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Random Names</h4>
							</div>
							<div class="timeline-body">
								<p>Starting Price: $50</p>
							</div>
						</div>
					</li>
					{% endcomment %}
				</ul>
	        </div>
	    </div>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">SELL MY NAME</h4>
      </div>
      <div class="modal-body">
        <div class="col-lg-12">
            <form role="form" class="col-md-4" style="margin-top: -20px;">
				<div class="form-group">
				<span class="dollar">$</span>
				<input id="name" name="name" type="number" class="form-control number-bid" required placeholder="1">
				</div>
			</form>
			<div class="col-lg-8">
            	    <select class="selectpicker select-btn" data-style="btn-danger">
				      <option>Mustard</option>
				      <option>Ketchup</option>
				      <option>Relish</option>
				  </select>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}